<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <link rel="stylesheet" href="registrar-articulo.css">
  <link rel="stylesheet" href="menu-style.css">
  <link rel="stylesheet" href="ingreso-almacen.css">
  <link rel="stylesheet" href="mantenedor.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


  <link rel="stylesheet" href="ingreso-almacen.css">


</head>

<body>
  <nav class="">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 col-sm-3  col-xs-3 text-center">
          <div id="icon-menu" style="height: 15px; width: 15px;margin-top:10px;float: left;" alt=""><i
              class="fas fa-bars"></i></div>

          <img style="height: 40px; width: 120px;margin-top:4px;margin-bottom:2px;margin-left:20px;float: left;"
            src="img/logo-ses.png" alt="">
        </div>
        <div class="col-md-5 col-sm-5  col-xs-4 text-center ">

        </div>
        <div class="col-md-4 col-sm-4  col-xs-4 text-center"
          style="padding-left: 0 !important; padding-right: 0 !important;">
          <a id="login" style="margin-left:100px; margin-top:100px!important;text-decoration:none;color:black;" href=""
            class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user pull-left " style="font-size: 1.5em;margin-top:10px!important;color:#555"></i>
            <span class=""
              style="font-weight: 700; margin-right: 10px; font-style:normal; font-size:14px; color:#555">Bienvenido(a):</span>
            <span class=""
              style="font-weight: 700; margin-right: 10px; font-style:normal; font-size:14px;color:#555">Ivana
              Olortegui</span>
            <span <i style="margin-right:0px !important;color:#555" class="caret-down"></span>


          </a>
        </div>
      </div>
    </div>
    <div class="recta"></div>

    <div id="menu" class="hide" style="float: left;">
      <div class="title">
        <p>SISTEMA DE LOGÍSTICA</p>
      </div>
      <ul>
        <li id="inventories"><a href="#">Inventarios <i style="float: right; margin-top:2px;"
              class="fas fa-caret-down"></i></a></li>
        <ul id="inventories_sub_menu" class="hide">
          <li><a href="ingreso-almacen.html">Ingreso a Almacén</a></li>
          <li><a href="salida-almacen.html">Guías de Salida</a></li>
          <li><a href="guia-remisión.html">Guías de Remisión</a></li>
        </ul>
        <li id="report"><a href="#">Reportes <i style="float: right; margin-top:2px;" class="fas fa-caret-down"></i></a>
        </li>
        <ul id="report_sub_menu" class="hide">
          <li><a href="reporte-guia-salida.html">Reporte de Inventarios</a></li>
          <li><a href="reporte-garantia-vidaUtil.html
                  ">Garantía / Vida Útil</a></li>
          <li><a href="stock-almacen.html">Stock de Almacén</a></li>
          <li><a href="consulta-articulo.html">Consulta de Artículo</a></li>
        </ul>
        <li id="maintenance"><a href="#">Mantenimiento <i style="float: right; margin-top:2px;"
              class="fas fa-caret-down"></i></a></li>
        <ul id="maintenance_sub_menu" class="hide">
          <li><a href="catalogo-articulo.html">Registro de Artículo</a></li>
          <li><a href="mantenedor.html">Clasificación</a></li>
          <li><a href="mantenedor-2.html">Sede</a></li>
        </ul>
      </ul>

    </div>
    <div id="sign-off" class="hide" style="float:right;">
      <ul>
        <li id="perfil"><a href="#"><i class="fas fa-edit" style="margin-right: 5px;"></i>Perfil</a></li>

        <li id="off"><a href="#"><i class="fa fa-sign-out-alt" style="margin-right: 5px;"></i>Cerrar Sesión</a>
        </li>
      </ul>


    </div>
  </nav>


  <div>

    <div class="container-fluid"
      style="padding-left: 0px !important; padding-right: 0px !important;margin-bottom: 50px;">
      <div class="row headboard">

        <p style=" margin-bottom: 2px !important;margin-top: 2px !important;">Registrar Guía de Salida</p>

      </div>
      <br>
      <div class="row" style="margin-right: 10px !important; margin-left: 10px !important;">

        <div class="col-md-6 col-sm-8  col-xs-12">
          <div class="col-md-12 col-sm-12  col-xs-12">
            <h3 style="margin:3px; text-align: center;"> Datos Generales </h3>
          </div>
          <div class="row">
         
           
            <div class="form-group col-md-6">
              <label class="label-input">Serie/Número: </label>
              <div class="input-group input-daterange">
                <input type="number"
                  class="form-control ng-pristine ng-valid ng-empty ng-valid-maxlength ng-touched letranatura"
                  ng-model="Serie" ng-disabled="HabilitoDeta" id="NewSerie" value="" maxlength="3" placeholder="Serie"
                  oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                <div class="input-group-addon">-</div>
                <input type="number"
                  class="form-control ng-pristine ng-valid ng-empty ng-valid-maxlength ng-touched letranatura"
                  ng-model="NroComprobante" ng-disabled="HabilitoDeta" id="nrocomprobante" value=""
                  placeholder="Número" maxlength="5"
                  oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                  ng-pattern="/^-?[0-9][^\.]*$/">
              </div>
            </div>
            <div class="form-group col-md-6">
              <label class="label-input">Tipo de movimiento: </label>
              <div class=" input-group input-daterange" style="text-align: start;">

                <select name="" id="" class="form-control input-sm">
                  <option value="">------SELECCIONE --------</option>
                  <option value="">------Salida de Almacen--------</option>
                  <option value="">------Salida de Oficina--------</option>
                </select>
              </div>
            </div>
            
          </div>



          <div class="row">
            <div class="col-md-12 col-sm-6  col-xs-12">
              <div class="row">
                <div class="col-md-12 col-sm-12  col-xs-12">
                  <label class="text-select1 label-input" style="float:left; ">Descripción:</label>
                  <input class="form-control" style="margin-left:2% !important;vertical-align:middle;float:right">
                  </input>
                </div>
              </div>
            </div>
           
          </div>
          <div class="row">
                                
          </div>
        </div>


        <div class="col-md-6 col-sm-6  col-xs-12">
          <div class="col-md-12 col-sm-12  col-xs-12">
            <h3 style="margin:3px">Estado</h3>
          </div>
          <div class="row">
            
            <div class="form-group col-md-6">
              <div class="  input-daterange" style="text-align: start;">
                <label class="label-input">Almacén de origén:</label>
                <select name="" id="" class="form-control input-sm">
                  <option value="">------SELECCIONE --------</option>
                  <option value="">------ALMACÉN ADM--------</option>
                </select>
              </div>
            </div>
            <div class="form-group col-md-6">
              <div class="  input-daterange" style="text-align: start;">
                <label class="label-input">Almacén de destino:</label>
                <select name="" id="" class="form-control input-sm">
                  <option value="">------SELECCIONE--------</option>
                  <option value="">EDIFICIO CERCADO DE LIMA-PISO3-OFICINA-302</option>
                </select>
              </div>
            </div>
            <div class="form-group col-md-6">
              <div class="  input-daterange" style="text-align: start;">
                <label class="label-input">Cliente:</label>
                <select name="" id="" class="form-control input-sm">
                  <option value="">--------SELECIONE-------</option>
                  <option value="">------Ninguno--------</option>
                  <option value="">Soporte-Equipos S.A.C</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
     
           
          </div>
        </div>
    
        
      </div>
      
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <div class="table-responsive">
            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
              <div class="row" style="width: 100%;">
                <div class="col-md-6 col-sm-6  col-xs-6">
                  <div id="DataTables_Table_0_filter" class="dataTables_filter" style="float: left;  margin: 0 25px;margin-bottom: 5px!important;"><label style="
                      margin: 25px 0;margin-bottom: 5px!important;
                    "> 4 ARTÍCULOS </label>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6  col-xs-6 ">
                  <div class="dataTables_length" id="DataTables_Table_0_length"
                    style="float: right; margin: 25px 0;margin-bottom: 5px!important;">
                  
                    <label>Cod.Patrimonial   <input type="number" maxlength="11" class="form-control" style="margin-left:2% !important;vertical-align:middle;float:right"/>
                      <button style="
                       font-size: 16px; border-radius: 0 5px 5px 0 !important;" class="btn btn-sm btn-record"><i></i>&nbsp;Adicionar</button></label>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin-right: 10px;margin-left: 10px;">
      <div class="col-sm-12">
        <table class="table table-bordered table-ses table-condensed table-hover ng-isolate-scope dataTable no-footer"
          datatable="ng" dt-options="showCase.dtOptions" style="display: table;" id="DataTables_Table_0" role="grid"
          aria-describedby="DataTables_Table_0_info">
          <thead style="background:  #F1F1F1">
            <tr role="row">
              <th class="text-center sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                colspan="1" aria-label=": activate to sort column descending" style="width: 79px;">
                Cod.Patrimonial

              </th>


              <th class="text-center sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                aria-label="Tipo de Solicitud: activate to sort column ascending" style="width: 312px;">
                Descripción</th>
              <th class="text-center sorting" style="width: 95px;" tabindex="0" aria-controls="DataTables_Table_0"
                rowspan="1" colspan="1" aria-label="Acción: activate to sort column ascending">U.Medida</th>
              <th class="text-center sorting" style="width: 95px;" tabindex="0" aria-controls="DataTables_Table_0"
                rowspan="1" colspan="1" aria-label="Acción: activate to sort column ascending">Cantidad</th>
              <th class="text-center sorting" style="width: 95px;" tabindex="0" aria-controls="DataTables_Table_0"
                rowspan="1" colspan="1" aria-label="Acción: activate to sort column ascending">P.Unit</th>
              <th class="text-center sorting" style="width: 95px;" tabindex="0" aria-controls="DataTables_Table_0"
                rowspan="1" colspan="1" aria-label="Acción: activate to sort column ascending">Total Importe</th>
                <th class="text-center sorting" style="width: 95px;" tabindex="0" aria-controls="DataTables_Table_0"
                rowspan="1" colspan="1" aria-label="Acción: activate to sort column ascending">Quitar</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center">
                14737379923
              </td>

              <td class="text-center">
                ADAPTADOR INALÁMBRICO PCI
              </td>
              <td class="text-center">
                UND
              </td>
              <td class="text-center">
                1
              </td>
              <td class="text-center">
                3000
              </td>
              <td class="text-center">
                3000
              </td>

              <td class="text-center">
                
                <button type="button" class="btn btn-delete btn-xs" title="Eliminar">
                  <span class="fa fa-trash-alt" data-toggle="modal" data-target="#exampleModal"
                    data-placement="top"></span>
                </button>
              </td>
            </tr>
            <tr>
              <td class="text-center">
                002999508002
              </td>
              <td class="text-center">
                TARJETA DE RED
              </td>
              <td class="text-center">
                UND
              </td>
              <td class="text-center">
                1
              </td>
              
              <td class="text-center">
                3000
              </td>
              <td class="text-center">
                3000
              </td>
              <td class="text-center">
                
                <button type="button" class="btn btn-delete btn-xs" title="Eliminar">
                  <span class="fa fa-trash-alt" data-toggle="modal" data-target="#exampleModal"
                    data-placement="top"></span>
                </button>
              </td>
            </tr>

            <tr>
              <td class="text-center"> 003095220034 </td>
              <td class="text-center"> CABLE DE CONSOLA </td>
              <td class="text-center">
                UND
              </td>
              <td class="text-center">
                1
              </td>
              
              <td class="text-center">
                3000
              </td>
              <td class="text-center">
                3000
              </td>
              <td class="text-center">
                
                <button type="button" class="btn btn-delete btn-xs" title="Eliminar">
                  <span class="fa fa-trash-alt" data-toggle="modal" data-target="#exampleModal"
                    data-placement="top"></span>
                </button>
              </td>
            </tr>

            <tr>
              <td class="text-center"> 002995080025 </td>
              <td class="text-center"> CABLE UTP Categoria 6- 3MTS</td>
              <td class="text-center">
                UND
              </td>
              <td class="text-center">
                1
              </td>
              
              <td class="text-center">
                3000
              </td>
              <td class="text-center">
                3000
              </td>
              <td class="text-center">
                
                <button type="button" class="btn btn-delete btn-xs" title="Eliminar">
                  <span class="fa fa-trash-alt" data-toggle="modal" data-target="#exampleModal"
                    data-placement="top"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>
      <div class="row" style="margin-left:25px;margin-right:25px;margin-bottom:10px">
        <div class="col-md-6 col-sm-6  col-xs-6" style="padding-left: 0 !important;padding-right: 0 !important;">
          <strong>Total Cantidad 4</strong>
        </div>
        <div class="col-md-2 col-sm-6  col-xs-6" style="padding-left: 0 !important;padding-right: 0 !important;">
          <strong>SubTotal: 12000</strong>
        </div>
        <div class="col-md-2 col-sm-6  col-xs-6" style="padding-left: 0 !important;padding-right: 0 !important;">
          <strong>IGV: 216</strong>
        </div>
        <div class="col-md-2 col-sm-3  col-xs-6"
          style="padding-left: 0 !important;padding-right:0;float:right !important;">
          <strong>Total: 1416</strong>
      
  
  
        </div>
      </div>
      <div class="row" style=" float:none;
        text-align:center;">
        <div class="col-md-12 col-sm-12  col-xs-12"
          style="padding-left: 0 !important;padding-right: 40px !important;float:right !important;margin-bottom: 10px; margin-top:15px; ">
          <a href="salida-almacen.html"> <button style="     margin-top: 8px !important;font-size: 16px; " class="btn btn-sm btn-out"><i
                class="fas fa-arrow-left"></i>&nbsp;Salir</button></a>
          <button style="
            margin-top: 8px !important; font-size: 16px;" class="btn btn-sm btn-record"><i></i>&nbsp;Registrar</button>


        </div>
      </div>
    </div>
    <footer class=" sky-blue-ses" style="position:fixed;
                    left:0px;
                    bottom:0px;
                    height:25px;
                    width:100%;">
      <div class="col-md-12 col-xs-12">
        <p style="margin:5px;" class="text-center font-color-white">© 2019 - 2020 SES - Sistema Logístico 1.0 -
          Todos los derechos reservados</p>
      </div>
    </footer>





    <script src="main.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"></script>

</body>

</html>