<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <link rel="stylesheet" href="registrar-articulo.css">
  <link rel="stylesheet" href="menu-style.css">
  <link rel="stylesheet" href="ingreso-almacen.css">
  <link rel="stylesheet" href="mantenedor.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

</head>

<body>
  <nav class="">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 col-sm-3  col-xs-3 text-center">
          <div id="icon-menu" style="height: 15px; width: 15px;margin-top:10px;float: left;" alt=""><i
              class="fas fa-bars"></i></div>

          <img style="height: 40px; width: 120px;margin-top:4px;margin-bottom:2px;margin-left:20px;float: left;"
            src="img/logo-ses.png" alt="">
        </div>
        <div class="col-md-5 col-sm-5  col-xs-4 text-center ">

        </div>
        <div class="col-md-4 col-sm-4  col-xs-4 text-center"
          style="padding-left: 0 !important; padding-right: 0 !important;">
          <a id="login" style="margin-left:100px; margin-top:100px!important;text-decoration:none;color:black;" href=""
            class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user pull-left " style="font-size: 1.5em;margin-top:10px!important;color:#555"></i>
            <span class=""
              style="font-weight: 700; margin-right: 10px; font-style:normal; font-size:14px; color:#555">Bienvenido(a):</span>
            <span class=""
              style="font-weight: 700; margin-right: 10px; font-style:normal; font-size:14px;color:#555">Ivana
              Olortegui</span>
            <span <i style="margin-right:0px !important;color:#555" class="caret-down"></span>


          </a>
        </div>
      </div>
    </div>
    <div class="recta"></div>

    <div id="menu" class="hide" style="float: left;">
      <div class="title">
        <p>SISTEMA DE LOGÍSTICA</p>
      </div>
      <ul>
        <li id="inventories"><a href="#">Inventarios <i style="float: right; margin-top:2px;"
              class="fas fa-caret-down"></i></a></li>
        <ul id="inventories_sub_menu" class="hide">
          <li><a href="ingreso-almacen.html">Ingreso a Almacén</a></li>
          <li><a href="salida-almacen.html">Guías de Salida</a></li>
          <li><a href="guia-remisión.html">Guías de Remisión</a></li>
        </ul>
        <li id="report"><a href="#">Reportes <i style="float: right; margin-top:2px;" class="fas fa-caret-down"></i></a>
        </li>
        <ul id="report_sub_menu" class="hide">
          <li><a href="reporte-guia-salida.html">Reporte de Inventarios</a></li>
          <li><a href="reporte-garantia-vidaUtil.html
                  ">Garantía / Vida Útil</a></li>
          <li><a href="stock-almacen.html">Stock de Almacén</a></li>
          <li><a href="consulta-articulo.html">Consulta de Artículo</a></li>
        </ul>
        <li id="maintenance"><a href="#">Mantenimiento <i style="float: right; margin-top:2px;"
              class="fas fa-caret-down"></i></a></li>
        <ul id="maintenance_sub_menu" class="hide">
          <li><a href="catalogo-articulo.html">Registro de Artículo</a></li>
          <li><a href="mantenedor.html">Artículos</a></li>
          <li><a href="mantenedor-2.html">Sede</a></li>
        </ul>
      </ul>

    </div>
    <div id="sign-off" class="hide" style="float:right;">
      <ul>
        <li id="perfil"><a href="#"><i class="fas fa-edit" style="margin-right: 5px;"></i>Perfil</a></li>

        <li id="off"><a href="#"><i class="fas fa-sign-out-alt" style="margin-right: 5px;"></i>Cerrar Sesión</a>
        </li>
      </ul>


    </div>
  </nav>


  <div>

    <div class="container-fluid"
      style="padding-left: 0px !important; padding-right: 0px !important;margin-bottom: 50px;">
      <div class="row headboard">

        <p style=" margin-bottom: 2px !important;margin-top: 2px !important;">Registrar Ingreso a Almacén</p>

      </div>
      <br>
      <div class="row" style="margin-right: 10px !important; margin-left: 10px !important;">

        <div class="col-md-6 col-sm-8  col-xs-12">
          <div class="col-md-12 col-sm-12  col-xs-12">
            <h3 style="margin:3px; text-align: center;"> Datos Generales </h3>
          </div>
          <div class="row">

            <div class="form-group col-md-6">
              <label class="label-input">Artículo:</label>
              <div class=" input-group input-daterange" style="text-align: start;">
                <select name="" id="" class="form-control input-sm">
                  <option value="">------SELECCIONE --------</option>
                  <option value="">------ÁNTENA INALÁMBRICA--------</option>
                  <option value="">------ADAPTADOR INALÁMBRICO PCI--------</option>
                  <option value="">------TARJETA DE RED--------</option>
                  <option value="">------CABLE DE CONSOLA--------</option>
                </select>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label class="label-input">Código Patrimonial: </label>
              <div class=" input-group input-daterange" style="text-align: start;">
                <input type="number" class="form-control input-sm" id="password" name="number"
                  placeholder="Código Patrimonial" value="" required>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label class="label-input">Serie/Número: </label>
              <div class="input-group input-daterange">

                <input type="number"
                  class="form-control ng-pristine ng-valid ng-empty ng-valid-maxlength ng-touched letranatura"
                  ng-model="Serie" ng-disabled="HabilitoDeta" id="NewSerie" value="" maxlength="3" placeholder="Serie"
                  oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                <div class="input-group-addon">-</div>
                <input type="number"
                  class="form-control ng-pristine ng-valid ng-empty ng-valid-maxlength ng-touched letranatura"
                  ng-model="NroComprobante" ng-disabled="HabilitoDeta" id="nrocomprobante" value=""
                  placeholder="Comprobante" maxlength="5"
                  oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                  ng-pattern="/^-?[0-9][^\.]*$/">
              </div>
            </div>
            <div class="form-group col-md-6">
              <label class="label-input">Tipo de movimiento: </label>
              <div class=" input-group input-daterange" style="text-align: start;">

                <select name="" id="" class="form-control input-sm">
                  <option value="">------SELECCIONE --------</option>
                  <option value="">------COMPRA--------</option>
                </select>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="form-group col-md-6">
              <label class="label-input">Proveedor:</label>
              <div class=" input-group input-daterange" style="text-align: start;">

                <select name="" id="" class="form-control input-sm">
                  <option value="">------SELECCIONE --------</option>
                  <option value="">------INDUSTRIALES DEL VALLE S.A.--------</option>
                  <option value="">------ NYSAE SAC--------</option>

                </select>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label class="label-input">Almacén:</label>
              <div class=" input-group input-daterange" style="text-align: start;">

                <select name="" id="" class="form-control input-sm">
                  <option value="">------SELECCIONE --------</option>
                  <option value="">------ALMACÉN ADM--------</option>
                </select>
              </div>
            </div>

          </div>















        </div>
        <div class="col-md-6 col-sm-6  col-xs-12">
          <div class="col-md-12 col-sm-12  col-xs-12">
            <h3 style="margin:3px">Documentos de Compra</h3>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label class="label-input">Comprobante: </label>
              <div class=" input-group input-daterange" style="text-align: start;">

                <input type="password" class="form-control input-sm" id="password" name="password" placeholder="Código"
                  required>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label class="label-input">Moneda: </label>
              <div class=" input-group input-daterange" style="text-align: start;">

                <select name="" id="" class="form-control input-sm">
                  <option value="">------SELECCIONE --------</option>
                  <option value="">------SOLES--------</option>
                  <option value="">------DOLARES--------</option>
                </select>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label class="label-input">N° Documento: </label>
              <div class="input-group input-daterange" style="
                text-align: start;
            ">

                <input type="text"
                  class="form-control ng-pristine ng-valid ng-empty ng-valid-maxlength ng-touched letranatura"
                  ng-model="Serie" ng-disabled="HabilitoDeta" id="NewSerie" value="" maxlength="4" placeholder=""
                  oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                <div class="input-group-addon">-</div>
                <input type="number"
                  class="form-control ng-pristine ng-valid ng-empty ng-valid-maxlength ng-touched letranatura"
                  ng-model="NroComprobante" ng-disabled="HabilitoDeta" id="nrocomprobante" value="" placeholder=""
                  maxlength="8"
                  oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                  ng-pattern="/^-?[0-9][^\.]*$/">

              </div>
            </div>
            <div class="form-group col-md-6">
              <label class="label-input">Forma de Pago: </label>
              <div class=" input-group input-daterange" style="text-align: start;">

                <select name="" id="" class="form-control input-sm">
                  <option value="">------SELECCIONE --------</option>
                  <option value="">------NINGUNO--------</option>
                </select>
              </div>
            </div>
            
          <div class="form-group col-md-6">
            <label class="label-input">Asociar: </label>
            <div class=" input-group input-daterange" style="text-align: start;">
              <select name="" id="" class="form-control input-sm">
                <option value="">---SELECCIONE---</option>
                <option value="">---NINGUNO---</option>

              </select>

              <input type="number" class="form-control input-sm" id="password" name="number" placeholder="" value=""  required>
              <button style="font-size: 16px;" class="btn btn-sm btn-record"><i></i>&nbsp;Buscar</button>

            </div>




          </div>

          </div>




        </div>
      </div>
      <div class="col-md-12 col-sm-12  col-xs-12">
        <label class="" style="float:left; margin-left: 1%; margin-right: 2%;">Observaciones:</label>
        <input class="form-control" style="margin-left:2% !important;vertical-align:middle;float:right">
        </input>
      </div>
    </div>



    <div class="row" style=" float:none;
        text-align:center;">
      <div class="col-md-12 col-sm-12  col-xs-12"
        style="padding-left: 0 !important;padding-right: 40px !important;float:right !important;margin-bottom: 10px; margin-top:15px; ">
        <a href="ingreso-almacen.html"> <button style="
            margin-top: 8px !important;font-size: 16px; " class="btn btn-sm btn-out"><i
              class="fas fa-arrow-left"></i>&nbsp;Salir</button></a>
        <button style="
            margin-top: 8px !important; font-size: 16px;" class="btn btn-sm btn-record"><i></i>&nbsp;Registrar</button>


      </div>
    </div>
  </div>
  <footer class=" sky-blue-ses" style="position:fixed;
                    left:0px;
                    bottom:0px;
                    height:25px;
                    width:100%;">
    <div class="col-md-12 col-xs-12">
      <p style="margin:5px;" class="text-center font-color-white">© 2019 - 2020 SES - Sistema Logístico 1.0 -
        Todos los derechos reservados</p>
    </div>
  </footer>





  <script src="main.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

</body>

</html>