body {
    padding-left: 0px;
    padding-right: 0px;
}


.sky-blue-ses {
    background: #33AADE;
}
.font-color-white{
    color: white;
}
.position-absolute{
    position: absolute;
  bottom: 0;
  width: 100%;
}
img{
    display:block;
    margin:auto;
    }

.recta {
        height: 3px;
        background-color: #33AADE;
        margin-top: 5px;
     }